body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  background-color: #fafafa;
  color: #212121;
  -webkit-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}
